.intl-tel-input {
	width: 100%;
}

.intl-tel-input .selected-flag {
	z-index: 4;
}

.intl-tel-input .country-list {
	z-index: 5;
}

.input-group .intl-tel-input .form-control {
	border-top-left-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0;
}

.country-list .divider:after {
	content: '';
	height: 0 !important;
}

.btn-verify {
    background: #ff5722;
    color: white;
    border-radius: 7px;
    padding: 12px 7px;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.relative {
	position: relative;
}

.verify_otp {
	position: absolute;
    background: #3f51b5;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    right: 10px;
    font-size: 12px;
top: 24px;
    cursor: pointer;
}

.disabled {
	opacity: 0.2;
}

.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input,
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=text],
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=tel] {
	padding-left: 92px;
}

input:focus,
select:focus {
	box-shadow: none !important;
	border: none;
	outline: none;
	background: #f5f5f5 !important;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
    color: black !important;
    font-weight: normal !important;
}
label.error {
color: white !important;
    position: absolute;
    left: 0;
    bottom: -15px;
    font-size: 12px;
    background: #e91e63;
    padding: 0 10px;
    border-radius: 5px;
    z-index: 9999;
}
label.error:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e91e63;
    top: -5px;
    position: absolute;
}
.fb-input-wrapper
{
    position:relative;
}
.disabled
{
    opacity:0.2;
}
.resend_link
{
        background: none !important;
    color: black !important;
    text-align: right !important;
    padding: 0 !important;
    margin-top: 3px !important;
}
.intl-tel-input .country-list
{
    width: 300px;
}
.intl-tel-input .country-list .country
{
    color: black;
}